.env

# macOS
.DS_Store
**/.DS_Store

# Testing dirs and data
testing/
internal/origin

# Origin server storage and edge server cache files
internal/storage/files/*
internal/cache/files/*

!internal/storage/files/.gitkeep
!internal/cache/files/.gitkeep